{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Solicitações de Adoções{% endblock  %}

{% block 'head' %}
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
    <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
{% endblock  %}

{% block 'section' %}

    <div style="padding:60px" class="col-md">
        <h3 class="font-vinho mb-3">Solicitações de Adoções</h3>
        <hr class="my-0">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}} mt-3">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="pedido-adocoes mt-4">
            {% for pedido in pedidos %}
                <div class="card">
                    <span>{{pedido.pet.nome}}</span>
                    <img class="card-img-top" src="{{pedido.pet.foto.url}}">
                    <div class="card-body">
                        <h4 class="card-title">{{pedido.usuario.username}}</h4>
                        <span class="span-bold3">Telefone:</span>
                        <p>{{pedido.pet.telefone}}</p>
                        
                        <span class="span-bold3">Cidade:</span>
                        <p>{{pedido.pet.cidade}}</p>
                        <div class="botoes">
                            <a href="{% url 'processa_pedido_adocao' pedido.id %}?status=A" class="btn btn-success btn-sm">Aprovar</a>
                            <a href="{% url 'processa_pedido_adocao' pedido.id %}?status=R" class="btn btn-danger btn-sm">Recusar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock  %}
