{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Lista de pets{% endblock  %}

{% block 'head' %}
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
    <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
{% endblock  %}

{% block 'section' %}

    <div class="wrapper">
        <div class="box width80">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} mt-3">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <h3 class="font-vinho">Adote</h3>
            <hr>
            <form action="{% url 'listar_pets' %}" method="GET">
                <div class="form-grid">
                    <input type="text" placeholder="Cidade..." value="{% if cidade %}{{cidade}}{% endif %}" name="cidade" class="form-control">
                    <select class="form-select" name="raca">
                        <option value="">Selecione a raça...</option>
                        {% for raca in racas %}
                            <option value="{{raca.id}}" {% if raca_filter.id == raca.id %} selected {% endif %}>{{raca}}</option>
                        {% endfor%}   
                    </select>
                    <button class="btn btn-outline-secondary border-0 opacity-50" id="btnRemoveFiltro" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Desfazer filtro"><i class="bi bi-arrow-counterclockwise"></i></button>
                    <input type="submit" class="btn-custom-secondary" value="FILTRAR">
                </div>
            </form>

            <table class="table table-borderless table-striped table-hover text-center table-sm mt-3">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nome</th>
                        <th>Raça</th>
                        <th>Status</th>
                        <th>Cidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets%}
                        <tr class="tabela-linha">
                            <td width="20%" class="img-pet">
                                <a href="{% url 'ver_pet' pet.id %}"><img width="40%" src="{{pet.foto.url}}"></a>
                            </td>
                            <td>
                                {{pet.nome}}
                            </td>
                            <td>
                                {{pet.raca}}
                            </td>
                            <td>
                                {% if pet.status == "P" %}
                                    <span class="badge text-bg-primary">Para adoção</span>
                                {% elif pet.status == "A" %}
                                    <span class="badge text-bg-success">Adotado</span>
                                {% endif%}
                            </td>
                            <td>
                                {{pet.cidade}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>

{% endblock  %}

{% block 'script' %}
    <script>

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        const btnRemFiltro = document.getElementById('btnRemoveFiltro');
        const inputCidade = document.querySelector('input[name=cidade]');
        const inputRaca = document.querySelector('select[name=raca]');
        const btnFiltar = document.querySelector('input[type=submit]');

        btnRemFiltro.addEventListener('click', (e) => {

            e.preventDefault();

            inputCidade.value = "";
            inputRaca.value = "";

            btnFiltar.click();

        });

    </script>
{% endblock  %}